body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container, .chatroom-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .chat-container {
    width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .chat-header {
    background-color: #007bff;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  
  .chat-box {
    height: 400px;
    padding: 10px;
    overflow-y: scroll;
    background-color: #f9f9f9;
  }
  
  .message {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    
  }
  
  .chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .chat-input button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #0056b3;
  }
  
  .sent {
    text-align: right;
    margin-left: auto;
    padding: 5px;
    margin-bottom: 10px;
    align-self: end;
    border-radius: 4px;
  }

  .received {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
  }

  .chat-avatar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
    padding: 10px;
  }

  .chat-container-home {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  .yuchat-avatar-container {
    display: flex;
    gap: 10px;
  }

  .chat-avatar-home {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 10px;
    padding: 10px;
  }

  .yuchat-message {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .yuchat-name {
  }

  #search-results {
    list-style-type: none;
    padding: 0;
  }
  
  #search-results li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #search-results li:hover {
    background-color: #ececec;
  }

  .search-box {
    display: flex;
  }
